{% extends 'base.html' %}

{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    <div class="card-header bg-primary text-white">Chat</div>
    <div class="card-body messages-box">
      <ul class="list-unstyled messages-list">
        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Hi, I am your AI Chatbot, ask me anything or select audio to transcribe.
            </div>
          </div>
        </li>
      </ul>
      
    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
        {{ form.audio_file }}
      <input type="text" class="message-input" placeholder="Type your message...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Send</button>
      </div>
    </div>
  </form>
</div>

<script>
    const messagesList = document.querySelector(".messages-list");
    const messageForm = document.querySelector(".message-form");
    const messageInput = document.querySelector(".message-input");
    const fileInput = document.querySelector("#audio-file-input");

    messageForm.addEventListener("submit", (event) => {
        event.preventDefault();

        const message = messageInput.value.trim();
        const audioFile = fileInput.files[0];
        if (message.length === 0 && !audioFile) {
            return;
        }

        const formData = new FormData();
        if (message) {
            formData.append("message", message);
        }
        if (audioFile) {
            formData.append("audio_file", audioFile);
        }

        const messageItem = document.createElement("li");
        messageItem.classList.add("message", "sent");
        messageItem.innerHTML = `
            <div class="message-text">
                <div class="message-sender">
                    <b>You</b>
                </div>
                <div class="message-content">
                    ${message} ${audioFile ? "Transcript Audio" : ""}
                </div>
            </div>
        `;
        messagesList.appendChild(messageItem);
        messageInput.value = "";
        fileInput.value = "";

        fetch('', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                const response = data.response;
                const messageItem = document.createElement('li');
                messageItem.classList.add('message', 'received');
                messageItem.innerHTML = `
                <div class="message-text">
                    <div class="message-sender">
                    <b>AI Chatbot</b>
                    </div>
                    <div class="message-content">
                        ${response}
                    </div>
                </div>
                `;
                messagesList.appendChild(messageItem);
            });
    })
</script>

{% endblock %}
